.room {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-roboto);

    color: rgba(0, 0, 0, 0.85);
    width: 100%;
    margin: 0 0 0 0;
    padding: 2rem 0;
    background: #fff;

    text-align: center;
    text-transform: uppercase;

    overflow: hidden;
    position: relative;
    white-space: nowrap;

    span {
      display: inline-block;
      animation: marquee 10s linear infinite;
    }

    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }

  &__form {
    gap: 1.5rem;
    flex: 1;
    width: 100%;
    display: flex;
    padding: 0 35vw;
    position: relative;
    background: #f5f5f5;

    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;

    &__input {
      padding: 1rem;
      transition: 0.3 all ease-in-out;

      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;

      font-size: 1.25rem;
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
      box-sizing: content-box;

      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.85);
      }

      &:focus,
      &:active {
        outline: none;
        outline: solid 2px rgba(0, 0, 0, 0.25);
      }

      &:hover {
        border-color: #000;
        background: #fefdfd;
      }
    }

    &__submit {
      color: rgba(0, 0, 0, 0.85);
      border: 2px solid rgba(0, 0, 0, 0.5);
      padding: 1rem;
      background: rgb(255, 199, 0);

      font-size: 1.25rem;
      transition: 0.3 all ease-in-out;
      border-radius: 5px;

      &:hover {
        background: rgb(199, 185, 255);
        outline-color: #000;
      }

      &:disabled {
        color: #000;
        background: #fefdfd;
      }
    }

    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;

      &__loader {
        width: 48px;
        height: 48px;
        border: 5px solid rgb(255, 199, 0);
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        animation: pulse 1s linear infinite;
      }

      &__loader:after {
        content: '';
        position: absolute;
        width: 48px;
        height: 48px;
        border: 5px solid rgb(255, 199, 0);;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: scale 1s linear infinite;
      }
      
      @keyframes scale {
        0% { transform: translate(-50%, -50%) scale(0) }
        60% , 100% { transform: translate(-50%, -50%)  scale(1)}
      }
      @keyframes pulse {
        0% , 60% , 100%{ transform:  scale(1) }
        80% { transform:  scale(1.2)}
      }
    }
  }
}
