.submit {
  border: 2px solid var(--slurp-border);
  padding: 1rem;
  background: var(--slurp-yellow);

  font-size: 1.25rem;
  transition: 0.3 all ease-in-out;
  border-radius: 5px;

  &:hover {
    background: var(--slurp-purple);
    outline-color: var(--slurp-border-hover);
  }

  &:disabled {
    color: var(--slurp-black);
    background: var(--slurp-disabled);
  }
}
